<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>formularios</title>
  </head>
  <body>
    <header>
      <h1>Ejemplo de Formularios</h1>
      <STYLE TYPE="text/css" MEDIA=screen>
      body {background-color: #D4ECF8;} #contenedor {background-color: #fff;width: 900px;margin: 0px auto 0px auto;padding: 10px;border: solid 1px #ccc;box-shadow: 1px 1px5px #000;-moz-box-shadow: 1px 1px 5px #000;-webkit-box-shadow: 1px 1px 5px #000;}section .descripcion p {text-align: justify;}.clear {clear: both;}</STYLE
    </header>
   <%= yield %>
  </body>
</html>
